
@{
    ViewData["Title"] = "Create";
}
<form method="post" asp-controller="Books" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8 card p-2">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Book Name <span class="text-danger">*</span></label>
                    <input id="BookTitle" class="form-control" type="text" name="BookTitle" />
                </div>
                <div class="form-group col-md-6">
                    <label>ISBN <span class="text-danger">*</span></label>
                    <input id="ISBN" class="form-control" name="ISBN" />
                </div>
                <div class="form-group col-md-6">
                    <label>Image <span class="text-danger">*</span></label>
                    <input id="ImageFile" class="form-control" type="file" name="ImageFile" />
                </div>
                <div class="form-group col-md-6">
                    <label>Tolta Page No. <span class="text-danger">*</span></label>
                    <input id="numberOfPage" class="form-control" type="number" name="numberOfPage" />
                </div>
                <div class="form-group col-md-6">
                    <label>Format <span class="text-danger">*</span></label>
                    <input id="Format" class="form-control" type="text" name="Format" />
                </div>
                <div class="form-group col-md-6">
                    <label>Price <span class="text-danger">*</span></label>
                    <input id="price" class="form-control" type="text" name="price" />
                </div>
                <div class="form-group col-md-6">
                    <label>Language <span class="text-danger">*</span></label>
                    <input id="Language" class="form-control" type="text" name="Language" />
                </div>
                <div class="form-group col-md-6">
                    <label>Status <span class="text-danger">*</span></label>
                    <input id="Status" class="form-control" list="bookStatusList" type="text" name="Status" />
                    <datalist id="bookStatusList">
                        <option>Active</option>
                        <option>Issued</option>
                        <option>Lost</option>
                        <option>Pending</option>
                    </datalist>
                </div>
                <div class="form-group col-md-6">
                    <label>Purchase Date <span class="text-danger">*</span></label>
                    <input id="PurchaseDate" class="form-control" type="date" name="PurchaseDate" />
                </div>
                <div class="form-group col-md-6">
                    <label>Publish Date <span class="text-danger">*</span></label>
                    <input id="PublishDate" class="form-control" type="date" name="PublishDate" />
                </div>

            </div>
        </div>
        <div class="col-md-4" style="width:97%; height:auto;">
            <div class="card p-2">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Category </label>
                        @Html.DropDownList("CategoryID", null, "----Select Category----", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-12">
                        <label>Author</label>
                        <div class="col-md-12">
                            <input class="form-control col-md-12" type="text" name="author" id="author" />
                            <span class="text-danger" id="authorErrorMgs" style="display:none;">Please Fill Author</span>
                            <button id="addAtuthor" type="button" class="mt-1 btn bt-sm btn-outline-info col-md-2">+</button>
                            <input id="allAuthorName" name="allAuthor" readonly hidden />
                        </div>

                    </div>
                    <div class="col-md-12">
                        <table class="table table-sm table-striped" id="authorListTable">
                            <thead>
                                <tr>
                                    <th>Author Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>
        <div class="card-footer">
            <div class="float-right">
                <div class="row">
                    <button type="reset" id="clearInputForm" class="btn btn-secondary mr-2">Clear</button>
                    <button type="submit" id="saveBookDetails" class="btn btn-info">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 

<script>

    $(document).ready(function () {

        $("#saveBookDetails").click(function () {
            $("#saveBookDetails").prop("type", "button");
            var bookTitle = $("#BookTitle").val();
            var isbn = $("#ISBN").val();
            var imageFile = $("#ImageFile").val();
            var pages = $("#numberOfPage").val();
            var format = $("#Format").val();
            var language = $("#Language").val();
            var price = $("#price").val();
            var status = $("#Status").val();
            var purchaseDate = $("#PurchaseDate").val();
            var publishDate = $("#PublishDate").val();
            var category = $("#CategoryID").val();

            if (bookTitle == " " || isbn == " " || imageFile == " " || pages == ""  || format == " " || format == " " || language == " " ||
                price == " " || status == " " || purchaseDate == " " || publishDate == " " || category == " ")
            {
                $("#saveBookDetails").prop("type", "button");
                console.log("hello");
                console.log(bookTitle, isbn)
                if (bookTitle = " " || bookTitle == "undefined") {
                    $("#BookTitle").css({ "border-color": "red" });
                }
                if (isbn = " " || isbn == "undefined") {
                    $("#ISBN").css({ "border-color": "red" });
                }
                if (imageFile = " " || imageFile == "undefined") {
                    $("#ImageFile").css({ "border-color": "red" });
                }
                if (pages = " " || pages == "undefined") {
                    $("#numberOfPage").css({ "border-color": "red" });
                }
                if (format = " " || format == "undefined") {
                    $("#Format").css({ "border-color": "red" });
                }
                if (price = " " || price == "undefined") {
                    $("#price").css({ "border-color": "red" });
                }
                if (language = " " || language == "undefined") {
                    $("#Language").css({ "border-color": "red" });
                }
                if (status = " " || status == "undefined") {
                    $("#Status").css({ "border-color": "red" });
                }
                if (purchaseDate = " " || purchaseDate == "undefined") {
                    $("#PurchaseDate").css({ "border-color": "red" });
                }
                if (publishDate = " " || publishDate == "undefined") {
                    $("#PublishDate").css({ "border-color": "red" });
                }
                if (category = " " || category == "----Select Category----") {
                    $("#CategoryID").css({ "border-color": "red" });
                }
            }
            else {
                $("#saveBookDetails").prop("type", "submit");
            }

        });

        $("#addAtuthor").click(function () {           
            var authorName = $("#author").val();
            if (authorName == "" || typeof (authorName) == 'undefined') {
                $("#authorErrorMgs").show();
            }
            else {
                $("#authorErrorMgs").hide();
                tabledata = "<tr>";
                tabledata += "<td>" + authorName + "</td>";
                tabledata += "</tr>";
                $("#authorListTable tbody").append(tabledata);
                $("#author").val('');
            }

            if ($("#allAuthorName").val() == '') {
                var allAuthoreName = "#"
            }
            else {
                var allAuthoreName = $("#allAuthorName").val();
            }
            
            allAuthoreName += authorName + "#";
            $("#allAuthorName").val(allAuthoreName);

        });

    });

    // removing validation error if every things goes well.
    $("#BookTitle").keyup(function () {
        if ($("#BookTitle").val() == "") {
            $("#BookTitle").css({ "border-color": "red" });
        }
        else {
            $("#BookTitle").css({ "border-color": "#BF40BF" });
        }
    });

    $("#ISBN").keyup(function () {
        if ($("#ISBN").val() == "") {
            $("#ISBN").css({ "border-color": "red" });
        }
        else {
            $("#ISBN").css({ "border-color": "#BF40BF" });
        }
    });

    $("#ImageFile").click(function () {
        if ($("#ImageFile").val() == "") {
            $("#ImageFile").css({ "border-color": "red" });
        }
        else {
            $("#ImageFile").css({ "border-color": "#BF40BF" });
        }
    });

    $("#numberOfPage").keyup(function () {
        if ($("#numberOfPage").val() == "") {
            $("#numberOfPage").css({ "border-color": "red" });
        }
        else {
            $("#numberOfPage").css({ "border-color": "#BF40BF" });
        }
    });

    $("#Format").keyup(function () {
        if ($("#Format").val() == "") {
            $("#Format").css({ "border-color": "red" });
        }
        else {
            $("#Format").css({ "border-color": "#BF40BF" });
        }
    });

    $("#price").keyup(function () {
        if ($("#price").val() == "") {
            $("#price").css({ "border-color": "red" });
        }
        else {
            $("#price").css({ "border-color": "#BF40BF" });
        }
    });

    $("#Language").keyup(function () {
        if ($("#Language").val() == "") {
            $("#Language").css({ "border-color": "red" });
        }
        else {
            $("#Language").css({ "border-color": "#BF40BF" });
        }
    });

    $("#Status").keyup(function () {
        if ($("#Status").val() == "") {
            $("#Status").css({ "border-color": "red" });
        }
        else {
            $("#Status").css({ "border-color": "#BF40BF" });
        }
    });

    $("#PurchaseDate").keyup(function () {
        if ($("#PurchaseDate").val() == "") {
            $("#PurchaseDate").css({ "border-color": "red" });
        }
        else {
            $("#PurchaseDate").css({ "border-color": "#BF40BF" });
        }
    });

    $("#PublishDate").keyup(function () {
        if ($("#PublishDate").val() == "") {
            $("#PublishDate").css({ "border-color": "red" });
        }
        else {
            $("#PublishDate").css({ "border-color": "#BF40BF" });
        }
    });

    $("#CategoryID").change(function () {
        if ($("#CategoryID").val() == "") {
            $("#CategoryID").css({ "border-color": "red" });
        }
        else {
            $("#CategoryID").css({ "border-color": "#BF40BF" });
        }
    });

    // clearing input red border
    $("#clearInputForm").click(function () {
        $("input").css({ "border-color": "#ced4da" });
        $("#CategoryID").css({ "border-color": "#ced4da" });
    });

</script>


}