
@{
    ViewData["Title"] = "Issue Book";
}

<style>
    #memberImg{
        width:50%;
        height:auto;
        top:-25%;
        border-radius:50%;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header">
                <h5>Issue Form</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Issue" asp-action="Create">
                   @* <input />
*@
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Book ISBN</label>
                            <input class="form-control" name="bookISBN" id="isbn" />
                            <label id="bookErrorMgs" class="text-danger" style="display:none;">Please Provide Valid Book ISBN.</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Member Code</label>
                            <input class="form-control" name="memberCode" id="memberCode" />
                            <label id="memberErrorMgs" class="text-danger" style="display:none;">Please Provide Valid Member Code.</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Issue Date</label>
                            <input class="form-control" name="issueDate" type="date" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Due Date</label>
                            <input class="form-control" name="dueDate" type="date" />
                        </div>
                    </div>
                    <hr class="bg-warning"/>
                    <div class="form-group text-center">
                        <button type="reset" class="btn btn-secondary mr-2 px-3" id="allClear">Clear</button>
                        <button type="submit" class="btn btn-info px-3">Issue</button>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header">
                <h5>Member Details</h5>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img id="memberImg" class="border-info" src="" alt="memberImage"/>
                </div>
                <hr class="bg-info"/>
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Name:</th>
                        <td >
                            <label id="memberName" class="text-right"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>Joining Date: </th>
                        <td >
                            <label id="Mdate" class="text-right"></label>
                        </td>
                    </tr>
                    <tr>
                        <th>Book Issued: </th>
                        <td >
                            <label id="Issudestatus" class="text-right"></label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<hr class="bg-info"/>
<div class="card">
    <div class="card-header">
        <h5>Book Details</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="BookDetailsTables">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Titile</td>
                    <td>Category</td>
                    <td>Language</td>
                    <td>Format</td>
                    <td>Authors</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


@section Scripts{ 


<script>


    $(document).ready(function () {

        
        $("#isbn").keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            //console.log(keycode);
            if (keycode == '13') {
                event.preventDefault();
                var bookIsbn = $("#isbn").val();
                if (bookIsbn != '') {
                   // alert();
                    $.ajax({
                        contentType: 'application/json',
                        dataType: 'json',
                        type: 'get',
                        url: '/Issue/getBook',
                        data: { ISBN: bookIsbn},
                        success: function (response) {
                           // 
                            $.each(response, function (key, value) {
                                console.log(value[0].BookTitle);
                                tableData = "<tr>";
                                tableData += "<td>" + "<img src= \\" + value[0].BookImge + " style='width:100px; height:auto;'>" + "</td>";
                                tableData += "<td>" + value[0].BookTitle +"</td>";
                                tableData += "<td>" + value[0].Category +"</td>";
                                tableData += "<td>" + value[0].Language +"</td>";
                                tableData += "<td>" + value[0].Format +"</td>";
                                tableData += "<td>" + value[0].Authors+"</td>";
                                tableData += "<td>" + value[0].Status +"</td>";
                                tableData += "</tr>";

                            });
                            $("#BookDetailsTables tbody").append(tableData); 
                       
                        },
                        error: function () {
                            console.log('error occured.');
                        }
                    });
                }
                
            }
        });

        $("#memberCode").keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == "13") {
                event.preventDefault();
                var Code = $("#memberCode").val();
                console.log(Code);
                if (Code != '') {
                    $.ajax({
                        contentType: 'application/json',
                        type: 'get',
                        dataType: 'json',
                        url: '/Issue/getMember',
                        data: { uniqueCode: Code },                        
                        success: function (response) {
                            $.each(response, function (key, value) {
                                $("#memberImg").prop('src', value[0].MemberImage);
                                $("#memberName").html(value[0].MemberName);
                                $("#Mdate").html(value[0].MembershipDate);
                                $("#Issudestatus").html(value[0].bookCount);
                            });
                            console.log(response);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            }
        });

        $("#allClear").click(function () {

            $("#memberImg").prop('src', '');
            $("#memberName").html('');
            $("#Mdate").html('');
            $("#Issudestatus").html('');
            $("#BookDetailsTables tbody").html('');
        });
    })
</script>


}